
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

ul {
  list-style: none;
}


video {
  margin-bottom: 55px;
}

.body-modal{
  text-align: center;
  button {
    width: 100px;
    font-size: 18px;
  }
}
